p{
    font-size: larger;
    font-family: 'Dancing Script', cursive;
    font-weight: 1000;
    
}
.div1{
    background-image: linear-gradient(yellow,blue);
    width: 1000px;
    height: 150px;
}
.div2{
     background-image: linear-gradient(to right, yellow,blue);
     width: 1000px;
     height: 150px;
}
.div3{
    background-image: linear-gradient(to left,yellow,blue);
    width: 1000px;
    height: 150px;
}
.div4{
    background-image: linear-gradient(to bottom right,yellow,blue);
    width: 1000px;
    height: 150px;
}
.div5{
    background-image: linear-gradient(to top left,yellow,blue);
    width: 1000px;
    height: 150px;
}
.div6{
    background-image: linear-gradient(320deg,yellow,blue,red);
    width: 1000px;
    height: 150px;
}
.div7{
    background-image: linear-gradient(to left,blue,red,green,violet,yellow);
    width: 1000px;
    height: 150px;
}

.div8{
    background-image: linear-gradient(to bottom,blue,red,green,yellow);
    width: 1000px;
    height: 150px;
}
.div9{
    background-image: repeating-linear-gradient(red, yellow 10%, green 20%);
    height: 200px;
}
.div10{
    background-image: repeating-linear-gradient(190deg, blue, yellow 10%, green 20%);
    height: 200px;
}
.div11{
    background-image: repeating-linear-gradient(50deg,red 0px,red 10px,red 10px,yellow 10px,yellow 20px);
    height: 200px;
}

    


    
